@import url(http:////fonts.googleapis.com/css?family=Raleway:400,300,600);

body {
  font-size: 1.5em;
  line-height: 1.6;
  font-weight: 400;
  font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #222;
}

h1, h4 {
  margin-top: 0;
  margin-bottom: 2rem;
  font-weight: 300;
}

h1 {
  font-size: 2.8rem;
  line-height: 1.2;
  letter-spacing: -.1rem;
}
  
h4 {
  font-size: 2.3rem;
  line-height: 1.35;
  letter-spacing: -.08rem;
}
  
.wrapper {
  position: relative;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}

.container {
  margin: 1em;
  padding: 4px;
  display: table-cell;
  vertical-align: bottom;
  width: 960px;
}

.container p {
  font-size: 14px;
}

.displayBox {
  float: left;
  width: 56.6666666667%; 
  box-sizing: border-box;
}

.displayTxt {
  height: 400px;
  border-style: groove;
  border: 1px solid #D1D1D1;
  border-radius: 4px;
  display: table-cell;
  vertical-align: bottom;
  width: 960px;
}

form {
  width: 56.6666666667%; 
}

input {
  width: 100%;
  border: 1px solid #D1D1D1;
  border-radius: 4px;
  margin-top: 1rem;
  height: 2rem;
  }

.charInfo {
  position: absolute;
  width: 39.33%;
  margin-left: 56.3333333333%;
  margin-top: -25.7rem;
  float: right;
  font-size: 1rem;
}

.inventory {
  position: absolute;
  width: 39.33%;
  margin-left: 56.3333333333%;
  margin-top: -10.7rem;
  float: right;
  font-size: 1rem;
  border: 1px solid #D1D1D1;
  border-radius: 4px;
}

/* Phones*/
@media (max-width: 500px) {

  .wrapper {
    width: 85%;
    padding: 0;
    display: block;
  }

  h1 {
    font-size: 2.4rem;
  }

  .displayBox {
    width: 100%;
  }

  form {
    width: 100%;
  }

  .charInfo {
    float: none;
    margin: 4rem 25%;
    text-align: center;
  }

  .inventory {
    float: none;
    margin: 20rem 25%;
    text-align: center;
  }
}

