@import url(http:////fonts.googleapis.com/css?family=Raleway:400,300,600);

p {
  color: white;
}

body {
  font-size: 1.5em;
  line-height: 1.6;
  font-weight: 400;
  font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #222;
  background-color: rgb(7, 7, 7);
  text-shadow: 2px 2px black;
}

h1, h4 {
  margin-top: 0;
  margin-bottom: 2rem;
  font-weight: 300;
}

h1 {
  font-size: 2.8rem;
  line-height: 1.2;
  letter-spacing: -.1rem;
  color: white;
  font-weight: 200;
  text-shadow: 2px, 2px, #222;
}
  
h4 {
  font-size: 2.3rem;
  line-height: 1.35;
  letter-spacing: -.08rem;
  font-weight: 400;
  text-shadow: 2px 2px black;
}
  
.wrapper {
  position: relative;
  width: 960px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}

.container {
  padding: 4px;
  display: table-cell;
  vertical-align: bottom;
  width: 960px;
  background-image: url('/img/dungeon.png');
  background-repeat: no-repeat;
}

.container h1 {
  text-align: center;
  margin-top: 1rem;
}

.container p {
  font-size: 14px;
}

.displayBox {
  float: left;
  width: 517px; 
  box-sizing: border-box;
  color: white;
  overflow: auto;
  height: 420px;
  margin-left: 1rem;
  }

.displayTxt {
  height: 420px;
  border-style: groove;
  border: none;
  border-radius: 4px;
  display: table-cell;
  vertical-align: bottom;
  width: 960px;
  background-color: rgba(34, 34, 34, 0.575);
}

#commandForm {
  width: 56.6666666667%; 
  margin-left: 1rem; 
}

#commandForm input {
  width: 99%;
  border: 1px solid #D1D1D1;
  border-radius: 4px;
  margin-top: 1.2rem;
  height: 2rem;
}

.infoContainer {
  display: block;
  float: right;
  position: absolute;
  margin-left: 34rem;
}

.charInfo {
  position: absolute;
  width: 22.5rem;
  font-size: 1rem;
  border-radius: 4px;
  background-color: rgba(34, 34, 34, 0.575);
  height: 18rem;
}


.charInfo p:last-child {
  margin-top: -13rem;
  margin-left: 14rem;
}

.inventory {
  position: absolute;
  margin-top: 18.5rem;
  width: 22.5rem; 
  float: right;
  font-size: 1rem;
  border-radius: 4px;
  background-color: rgba(34, 34, 34, 0.575);
}

.charInfo h4, .inventory h4 {
  text-align: center;
  background-color: rgba(46, 46, 46, 0.473);
  color: #D1D1D1;
  margin-bottom: 1rem;
}

.inventory table, .charInfo > p {
  margin-left: 1rem;
  font-size: 1rem;
}

#createCharacterDiv {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 100%;
  padding: 10px;
  z-index: 100;
  color: white;
  background-image: url('/img/dungeon.png');
  background-repeat: no-repeat;
}

#createCharacterDiv form {
  padding: 4rem;
  margin: auto;
  width: 100%;

}

#createCharacterForm input[type="text"] {
  border: none;
  height: 2.8rem;
  font-size: 2.2rem;
  width: 40%;
  outline: none;
  color: white;
  background-color: rgba(34, 34, 34, 0.575);
}

#createCharacterForm input[type="text"]:focus {
  border-bottom: 2px solid white;
}


.formContainer label {
  width: 10.5%;
  font-size: 1.8rem;
  display: block;
}

.formContainer input[type="radio"] {
  border: 0px;
  width: 0;
  height: 3rem;
  position: relative;
  top: .65rem;
  opacity: 0;
  
}

.formContainer label:hover{
  border-bottom: 1px solid rgb(255, 255, 255);
  font-size: 38px;
}

.formContainer input[type="radio"]:checked + label {
  border-bottom: 2px solid rgb(255, 255, 255);
  font-size: 2.4rem;
  font-weight: 800;
}


#enteredName {
  width: 15rem;
  height: 2.5rem;
  font-size: 2rem;
}

#submitCharacter {
  margin-top: 4rem;
  margin-right: 10%;
  width: 8rem;
  height: 3rem;
  float: right;
  background-color: transparent;
  border: none;
  font-size: 1.8rem;
  color: white;
}

#submitCharacter:hover {
  border-bottom: 1px solid #222;
  font-size: 38px;
}

/* Scroll Bar */

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background-color: rgba(34, 34, 34, 0.575);
}

::-webkit-scrollbar-thumb {
  background: white;
  
}

::-webkit-scrollbar-thumb:hover {
  background-color: #D1D1D1;
}

/* Mobile */


@media (max-width: 500px) {

  .container {
    width: 420px;
    margin: 0 auto;
    background-image: none;
  }

  .wrapper {
    width: 420px;
    padding: 0;
    display: block;
  }

  h1 {
    font-size: 2.4rem;
  }

  .displayBox {
    width: 420px;
    margin: 0 auto;
  }

  

  #commandForm {
    width: 420px;
    margin: 0 auto;
  }

  .infoContainer {
    position: absolute;
    float: none;
    margin: 36rem 0;
    width: 420px;
  }

  .charInfo {
    width: 420px;
  }

  .inventory {
    width: 420px;
    margin: 19rem 0;
  }

  .charInfo > p:last-child {
    position: absolute;
    margin-top: -11.35rem;
    float: right;
  }

  .charInfo > h4, .inventory > h4 {
    text-align: center;
    font-size: 22px;
    margin-bottom: .5rem;
  }

  .inventory table, .charInfo > p {
    text-align: center;
    width: 6.5rem;
    font-size: 14px;
  }
  
}

