@import url(http:////fonts.googleapis.com/css?family=Raleway:400,300,600);

body {
  font-size: 1.5em;
  line-height: 1.6;
  font-weight: 400;
  font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #222;
}

h1, h4 {
  margin-top: 0;
  margin-bottom: 2rem;
  font-weight: 300;
}

h1 {
  font-size: 2.8rem;
  line-height: 1.2;
  letter-spacing: -.1rem;
}
  
h4 {
  font-size: 2.3rem;
  line-height: 1.35;
  letter-spacing: -.08rem;
}
  
.wrapper {
  position: relative;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}

.container {
  margin: 1em;
  padding: 4px;
  display: table-cell;
  vertical-align: bottom;
  width: 960px;
}

.container p {
  font-size: 14px;
}

.displayBox {
  float: left;
  width: 56.6666666667%; 
  box-sizing: border-box;
}

.displayTxt {
  height: 400px;
  border-style: groove;
  border: 1px solid #D1D1D1;
  border-radius: 4px;
  display: table-cell;
  vertical-align: bottom;
  width: 960px;
}

#commandForm {
  width: 56.6666666667%; 
}

#commandForm input {
  width: 99%;
  border: 1px solid #D1D1D1;
  border-radius: 4px;
  margin-top: 1rem;
  height: 2rem;
}

.charInfo {
  position: absolute;
  width: 39.33%;
  margin-left: 56.3333333333%;
  margin-top: -25.09rem;
  float: right;
  font-size: 1rem;
  border: 1px solid #D1D1D1;
  border-radius: 4px;
}

.inventory {
  position: absolute;
  width: 39.33%;
  margin-left: 56.3333333333%;
  margin-top: -5.8rem;
  float: right;
  font-size: 1rem;
  border: 1px solid #D1D1D1;
  border-radius: 4px;
}

.charInfo h4, .inventory h4 {
  border-bottom: 1px solid #D1D1D1;
}

.inventory table, .charInfo > p{
  margin-left: 1rem;
  font-size: 1rem;
}

#createCharacterDiv {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 100%;
  padding: 10px;
  z-index: 100;
  background-color: white;
}

#createCharacterDiv form {
  padding: 4rem;
  margin: auto;
  width: 100%;
}

#createCharacterForm input[type="text"] {
  border: none;
  height: 2.8rem;
  font-size: 2.2rem;
  border-bottom: 1px solid #222;
  width: 40%;
  outline: none;
}

#createCharacterForm input[type="text"]:focus {
  border-bottom: 2px solid #222;
}


.formContainer label {
  width: 10.5%;
  font-size: 1.8rem;
  display: block;
}

.formContainer input[type="radio"] {
  border: 0px;
  width: 0;
  height: 3rem;
  position: relative;
  top: .65rem;
  opacity: 0;
  
}

.formContainer label:hover{
  border-bottom: 1px solid #222;
  font-size: 38px;
}

.formContainer input[type="radio"]:checked + label {
  border-bottom: 2px solid #222;
  font-size: 2.4rem;
  font-weight: 800;
}


#enteredName {
  width: 15rem;
  height: 2.5rem;
  font-size: 2rem;
}

#submitCharacter {
  margin-top: 4rem;
  width: 10rem;
  height: 3rem;
  float: right;
  background-color: transparent;
  border: none;
  font-size: 1.8rem;
}

#submitCharacter:hover {
  border-bottom: 1px solid #222;
  font-size: 38px;
}

/* Mobile */
@media (max-width: 570PX) {
  .charInfo h4, .inventory h4 {
    font-size: 32px;
  }
}

@media (max-width: 500px) {

  .wrapper {
    width: 85%;
    padding: 0;
    display: block;
  }

  h1 {
    font-size: 2.4rem;
  }

  .displayBox {
    width: 100%;
  }

  form {
    width: 100%;
  }

  .charInfo {
    float: none;
    margin: 8rem 25%;
    text-align: center;
  }

  .inventory {
    float: none;
    margin: 24.5rem 25%;
    text-align: center;
  }

  .charInfo > h4, .inventory > h4 {
    text-align: center;
    font-size: 22px;
    margin-bottom: .5rem;
  }

  .inventory table, .charInfo > p{
    text-align: center;
    width: 6.5rem;
    font-size: 14px;
  }
  
}

